* {
    font-family: 'VCR OSD Mono', sans-serif;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.work {
    display: flex;
}

.side {
    margin-top: -10px;
    z-index: 2;
    width: 600px;
    position: fixed;

}

.container {
    width: 58%;
    z-index: 1;
    margin-left: 42%;
    padding: 100px;
}

.container img {
    width: 100%;
}

.page {
    display: flex;
    overflow: hidden;

}

.side-title {
    margin-bottom: 32px;
}

.side-title img {
    width: 265px;
    padding-left: 9px;
    display: block;
}

.side-title a,
.side-title span {
    font-size: 21px;
    padding-left: 10px;
    line-height: 15px;
    color: black;
}



.work-list {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    margin-bottom: 5px;
    width: 276px;
    cursor: pointer;


}

.work {
    font-size: 21px;
    margin-bottom: -5px;

}

.word {
    font-size: 10px;
    color: black;

}

.links {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    margin-top: 35px;
    width: 280px;
    font-size: 21px;
    line-height: 18px;
}

.links a {
    color: black;
}

/*cv page styles*/
.cv {
    color: rgb(236 89 41);

}

.name {
    font-size: 15px;
    margin-top: 5px;
    font-weight: bold;
}

.bio {
    font-size: 10px;
    line-height: 14px;
}

.info {
    margin-top: 50px;
    margin-bottom: 85px;
}

.info span {
    font-size: 11px;
    font-weight: 900;
}

.info p {
    font-size: 10px;
    margin-top: 0px;
    margin-bottom: 25px;
    line-height: 13px;

}

.content {
    display: flex;
    flex-direction: column;
    width: 635px;
    margin-left: 705px;
    margin-top: 60px;
}

/* hover image */
.hovimg1,
.hovimg2,
.hovimg3,
.hovimg4,
.hovimg5,
.hovimg6,
.hovimg7,
.hovimg8,
.hovimg9,
.hovimg10,
.hovimg11,
.hovimg12,
.hovimg13 {
    width: 100vw;
    height: 90vh;
    pointer-events: none;
    position: fixed;
    top: 5%;
    z-index: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0;
}

.work-link1:hover .hovimg1,
.work-link2:hover .hovimg2,
.work-link3:hover .hovimg3,
.work-link4:hover .hovimg4,
.work-link5:hover .hovimg5,
.work-link6:hover .hovimg6,
.work-link7:hover .hovimg7,
.work-link8:hover .hovimg8,
.work-link9:hover .hovimg9,
.work-link10:hover .hovimg10,
.work-link11:hover .hovimg11,
.work-link12:hover .hovimg12,
.work-link13:hover .hovimg13 {
    opacity: 1;

}

.hovimg1 {
    background-image: url(media/home/image-1.jpg);
}

.hovimg2 {
    background-image: url(media/home/image-2.jpg);
}

.hovimg3 {
    background-image: url(media/home/image-3.jpg);
}

.hovimg4 {
    background-image: url(media/home/image-4.jpeg);
}

.hovimg5 {
    background-image: url(media/home/image-5.jpg);
}

.hovimg6 {
    background-image: url(media/home/image-6.jpg);
}

.hovimg7 {
    background-image: url(media/home/image-7.jpg);
}

.hovimg8 {
    background-image: url(media/home/image-8.jpg);
}

.hovimg9 {
    background-image: url(media/home/image-9.jpg);
}

.hovimg10 {
    background-image: url(media/home/image-10.jpg);
}

.hovimg11 {
    background-image: url(media/home/image-11.jpeg);
}

.hovimg12 {
    background-image: url(media/home/image-12.jpg);
}

.hovimg13 {
    background-image: url(media/home/image-13.jpg);
}